name: Build and Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  checks:
    uses: ./.github/workflows/check.yml

  release:
    needs: checks
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            .venv
          key: pip-${{ runner.os }}-${{ hashFiles('**/requirements*.txt') }}

      - name: Create venv
        run: python -m venv .venv

      - name: Install dependencies
        run: .\.venv\Scripts\python.exe -m pip install -r requirements.txt pyinstaller

      - name: Generate entry
        run: cmd /c gen_entry_tp.bat

      - name: Build plugin
        run: cmd /c build.bat

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.tpp
